In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./beer_tok.csv')

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [7]:
df.head(1)

,Unnamed: 0,beer_name,ID,rating,date,review,Aroma,Appearance,Flavor,Mouthfeel,beer_st,alcohol,tokens,tokens_filtered
0,0,Kloud Original Gravity,"vinivini(9,584)",2.9,"December 29, 2022","Straight from the can. Clean, malty, bready & grassy. Light sweet, light to medium bitter. Mouth feel: light to medium body, avera to lively carbonation.",2,4,3,4,Pale Lager - International / Premium,5.0%,"['straight', 'can', 'clean', 'malty', 'bready', 'grassy', 'light', 'sweet', 'light', 'medium', 'bitter', 'mouth', 'feel', 'light', 'medium', 'body', 'avera', 'lively', 'carbonation']","['straight', 'clean', 'malty', 'bready', 'grassy', 'light', 'sweet', 'light', 'medium', 'bitter', 'mouth', 'feel', 'light', 'medium', 'body', 'avera', 'lively', 'carbonation']"

In [8]:
token_df = df.groupby('beer_name')['tokens_filtered'].sum().reset_index()

In [30]:
token_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   beer_name        69 non-null     object
 1   tokens_filtered  69 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [31]:
token_df.head(1)

In [23]:
new_df =[]
new_df = pd.DataFrame(new_df)
# new_df = pd.DataFrame() 으로도 가능

new_df['beer_name']= token_df['beer_name']

In [24]:
type(new_df)

pandas.core.frame.DataFrame

In [25]:
new_df = new_df.merge(token_df, on='beer_name')

In [26]:
new_df.head(2)

Empty DataFrame
Columns: [beer_name, tokens_filtered]
Index: []